.wrapModalAuth {
  width: 500px;
}

.windowDeact {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: black;
  opacity: 0.3;
}

.modalAuth {
  position: absolute;
  top: 15%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0);
  border-radius: 5px;
  left: calc(50% - (444px / 2));
  z-index: 210;
  background-color: white;
}

.exitAuth {
  position: absolute;
  padding: 8px 12px;
  color: black;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.exitAuth:active {
  color: red;
}
