body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  color: #908b8b;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 1px 1px 1px rgb(219, 219, 219);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.defaultColor {
  color: lightgray;
}

.activeColor {
  color: #ecec40;
}
